html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* variables */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --accent-font: Raleway, sans-serif;
  --main-font: Roboto, sans-serif;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
/* header */
.header {
  height: 80px;
  display: flex;
}
.header .container {
  height: 80px;
  display: flex;
  align-items: center;
}
/* Логотип */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  width: 145px;
  height: 31px;
  display: flex;
  align-items: center;
}
/* Логотип */
/* Главная навигация */
.main-nav .logo {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
}
/* Главная навигация  */
.web-logo {
  color: var(--accent-color);
}
/* site nav */
.site-nav .link {
  font-style: 500;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .link {
  display: block;
  align-items: center;
}
/* site nav */

/* auth nav */
.auth-nav {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
}

.auth-nav .link {
  color: var(--secondary-text-color);
  font-style: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* auth Nav */
/* Секция Герой */
.hero {
  background-color: var(--secondary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  width: 696px;
  letter-spacing: 0.06em;
  margin-left: 252px;
}
/* Секция Герой  */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* заголовки */

/* секции */

.section-3 {
  background-color: var(--third-bg-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* features */
.section-title {
  margin-bottom: 0px;
}
.feature-list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
}
.feature-list .list {
  width: 270px;
  height: 101px;
}

.feature-list .list + .list {
  margin-left: 30px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature-list .item {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  width: 270px;
  height: 101px;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 0px;
}
.feature-list > :last-child .text {
  margin-bottom: 0px;
}
.active-container {
  padding-top: 94px;
  padding-left: auto;
  margin-right: 0px;
  width: 1170px;
  height: 290px;
}

/* active */

.section {
  padding-bottom: 94px;
}
.active {
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  padding-left: 0px;
}
.active .item + .item {
  margin-left: 30px;
}

/* кнопки */
.button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: 200, 50;
  border: var(--accent-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10, 32, 10, 32;
  margin-top: 30px;
  border: 1px solid transparent;
}
.link1:hover,
.link1:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}
/* кнопки */
/* секция с командой  */

.section-3 {
  padding-top: 94px;
}
.team {
  display: flex;
  margin-top: 50px;
  padding-bottom: 94px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.team .info + .info {
  margin-left: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.info {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0px;
}
.img {
  display: block;
}
.persons {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 19px;
}
.job {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.team > :last-child .job {
  margin-bottom: 0px;
}
/* footer */

.footer {
  background-color: var(--secondary-bg-color);
  margin-bottom: 0px;
  height: 252px;
}
.footer .container {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .studio-logo {
  color: var(--primary-white-color);
}
.adr {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 0px;
}
.footer1 .link {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}
.footer1 {
  color: var(--third-text-color);
}
.footer1 .link:hover,
.footer1 .link:focus {
  color: var(--accent-color);
}
.adress-list :hover,
.adress-list :focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
}
/* footer */

/* портфолио  */

.filters {
  display: flex;
  margin-bottom: 34px;
  text-align: center;
}
.filters .link:hover,
.filters .link:focus .cards .text {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.filters .filter1 {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16;
  line-height: 1.88;
  text-align: center;
  padding: 0px;
}
.filters .link + .link {
  margin-left: 8px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.cards .item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-left: 0px;
}
.section-p {
  width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.item .text {
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
